<div style="margin:0;padding:0;margin-left: 25%;margin-right: 25%;margin-top: 3%;border: 1px solid #fff;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0"
                       style="border-collapse:collapse;max-width:700px;min-width:320px;width:100%">
                    <tbody>
                    <tr>
                        <td align="left" style="padding:2% 2% 2% 2%">
                            <font color="#888888">
                            </font><font color="#888888">
                        </font>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr border="0">
                                    <td>
                                        <font color="#888888">
                                        </font>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <a
                                                            href="http://www.tekfilo.com/"
                                                            style="display:inline-block"
                                                            target="_blank"><img
                                                            class="CToWUd"
                                                            data-image-whitelisted=""
                                                            src="https://tekfilo.com/images/tekfilo_white.png"
                                                            style="display:block;width:50%"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:24px;line-height:48px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    <b><a href="#m_-5841234666194109065_" rel="nofollow"
                                                          style="text-decoration:none!important;color:#222!important">Hi
                                                        @tekfilo_username !</a></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:24px;line-height:48px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    <b>We're delighted to have you on board</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    You have joined millions of businesses worldwide who use and love
                                                    Tekfilo. We have a powerful product suite to help you manage your
                                                    business with ease. You can check us out at <a
                                                        data-saferedirecturl="https://www.google.com/url?q=http://www.tekfilo.com&amp;source=gmail&amp;ust=1639729584679000&amp;usg=AOvVaw0hwzgUwCtP1pW0SEOVaaL2"
                                                        href="http://www.tekfilo.com"
                                                        style="color:#2696eb;text-decoration:none"
                                                        target="_blank">
                                                    www.tekfilo.com</a>.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    To activate your Tekfilo account, please click the link below <b>within
                                                    the next 30 days</b>.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    <a href="@tekfilo_tokenurl"
                                                       style="text-decoration:none;color:#ffffff;display:inline-block;border-top:14px solid #339e72;border-right:40px solid #339e72;border-bottom:14px solid #339e72;border-left:40px solid #339e72;font-size:16px;font-weight:600;font-family:'Open Sans','Trebuchet MS',sans-serif;color:#ffffff;background-color:#339e72"
                                                       target="_blank">Confirm
                                                        Account</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    If you have any questions regarding your Tekfilo account, please
                                                    contact us at <a
                                                        data-saferedirecturl="https://www.google.com/url?q=https://help.tekfilo.com/portal/tekfilocorp&amp;source=gmail&amp;ust=1639729584680000&amp;usg=AOvVaw14D7QwkwQHI4Nn57AhPbLL"
                                                        href="https://help.tekfilo.com/portal/tekfilocorp"
                                                        style="color:#2696eb;text-decoration:none"
                                                        target="_blank">support@tekfiloaccounts.com</a>
                                                    Our technical support team will assist you with anything you need.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    Enjoy yourself, and welcome to Tekfilo.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    Cheers<font color="#888888"><br>
                                                </font></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    <b>Tekfilo Team</b><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                                    <a data-saferedirecturl="https://www.google.com/url?q=http://www.tekfilo.com/&amp;source=gmail&amp;ust=1639729584680000&amp;usg=AOvVaw2PvpyW057p6mmax-vB6DVl"
                                                       href="http://www.tekfilo.com/"
                                                       style="color:#2696eb;text-decoration:none"
                                                       target="_blank">www.tekfilo.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:3px solid #339e72">

                                                    <div class="a6S" dir="ltr"
                                                         style="opacity: 0.01; left: 638px; top: 661.5px;">
                                                        <div aria-label="Download attachment "
                                                             class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                             data-tooltip="Download" data-tooltip-class="a1V"
                                                             id=":9ok" role="button"
                                                             tabindex="0">
                                                            <div class="akn">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <font color="#888888">
                                        </font></td>
                                </tr>
                                </tbody>
                            </table>
                            <font color="#888888">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="padding:10px 0 10px 0;font-size:12px;color:#333333;line-height:22px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                                            Tekfilo Innovations Pvt.Ltd, Adhilakshmi Garden, No.40/1B 40/2B,
                                            Vadamadurai,
                                            Coimbatore District, Coimbatore 603202, INDIA.<br>Phone : 044 - 67447070
                                            Fax:
                                            044 67447172<br>This e-mail is generated from Tekfilo Accounts. If you think
                                            this is SPAM, please report to <a href="mailto:abuse@tekfilo.com"
                                                                              style="color:#0091ff;text-decoration:none"
                                                                              target="_blank">abuse@tekfilo.in</a> for
                                            immediate action.
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </font></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>